.profileNav{
  width: 150px;
  height: 150px;
  margin: 19px 0px 24px 50px;
  border-bottom: 2px solid white;
}
.profileContent{
  width: 300px;
  height: 300px;
  margin: 10px;
}
.myNav{
  height: 600px;
}
.link{
  text-decoration: none;
  padding: 10px;
  color: white;
  margin: 30px;
}
.link:hover{
  background-color: white;
  color: black;
  text-decoration: none;
}
.icon{
  transform: scale(4);
  margin: 60px;
  color : rgb(102, 200, 10) ;
}